/__pycache__
/controllers/__pycache__
/controllers/fruitmate_model.tflite
/venv
/.vscode
/.gcloudignore
/config/firebase/serviceAccount.json
/config/google-cloud-storage/serviceAccount.json
!config/firebase/
!config/google-cloud-storage/